<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promedio de Rentas</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Estilo personalizado -->
    <link rel="stylesheet" href="../static/estilo2.css">
</head>

<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Promedio de Rentas</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">El promedio de rentas es: <span th:if="${resultados.size() gt 0}" th:text="${resultados[0][0]}">0.0</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS y jQuery (al final del body para mejorar rendimiento) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
