<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Rentas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <h1>Rentas medias por hogar por tipo de renta y por comunidad autónoma</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Comunidad Autónoma</th>
            <th>Tipo de Renta</th>
            <th>Promedio de Renta</th>
        </tr>
        </thead>
        <tbody>
        <!-- Aquí se iterará sobre los resultados de la consulta -->
        <tr th:each="resultado : ${resultados}">
            <td th:text="${resultado[0]}"></td>
            <td th:text="${resultado[1]}"></td>
            <td th:text="${resultado[2]}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
