<!DOCTYPE html>
<html lang="es">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renta por hogar por comunidades autónomas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>
<header class="bg-dark text-white py-4 text-center cabeza">
    <div class="container">
        <h1 class="mb-0" style="font-family: 'Lexend', sans-serif;">RENTA POR HOGAR POR COMUNIDADES AUTÓNOMAS</h1>
    </div>
</header>
<main class="py-5">
    <div class="container">
        <div class="row">
            <!-- Consulta 1 -->
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Consulta 1 - DATOS TOTALES</h2>
                        <p class="card-text">Aquí puedes realizar una consulta sobre el total de los datos del INE.</p>
                        <a href="/consulta1" class="btn btn-dark">Realizar Consulta</a>
                    </div>
                </div>
            </div>

            <!-- Consulta 2 -->
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Consulta 2 - Promedio de la renta neta media por hogar por período</h2>

                        <a href="/consulta2" class="btn btn-dark">Realizar Consulta</a>
                    </div>
                </div>
            </div>

            <!-- Consulta 3 -->
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Consulta 3 - Máxima renta neta media por hogar por comunidad autónoma:
                        </h2>

                        <a href="/consulta3" class="btn btn-dark">Realizar Consulta</a>
                    </div>
                </div>
            </div>

            <!-- Consulta 4 -->
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Consulta 4 - Total de renta neta media por hogar por año:</h2>

                        <a href="/consulta4" class="btn btn-dark">Realizar Consulta</a>
                    </div>
                </div>
            </div>

            <!-- Consulta 5 -->
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Consulta 5 -   Rentas medias más altas y más bajas por tipo de renta:</h2>

                        <a href="/consulta5" class="btn btn-dark">Realizar Consulta</a>
                    </div>
                </div>
            </div>

            <!-- Consulta 6 -->
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Consulta 6 - Porcentaje de variación de la renta neta media por hogar entre años consecutivos:
                        </h2>

                        <a href="/consulta6" class="btn btn-dark">Realizar Consulta</a>
                    </div>
                </div>
            </div>

            <!-- Consulta 7 -->
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Consulta 7 - Rentas medias por hogar por tipo de renta y por comunidad autónoma:</h2>

                        <a href="/consulta7" class="btn btn-dark">Realizar Consulta</a>
                    </div>
                </div>
            </div>

            <!-- Consulta 8 -->
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Consulta 8 - Comparación de la renta neta media por hogar entre diferentes comunidades autónomas:</h2>

                        <a href="/consulta8" class="btn btn-dark">Realizar Consulta</a>
                    </div>
                </div>
            </div>

            <!-- Consulta 9 -->
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Consulta 9 - Rentas medias por hogar por año y tipo de renta:
                        </h2>

                        <a href="/consulta9" class="btn btn-dark">Realizar Consulta</a>
                    </div>
                </div>
            </div>

            <!-- Consulta 10 -->
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Consulta 10 - Número de periodos distintos en los que se han recopilado datos:</h2>

                        <a href="/consulta10" class="btn btn-dark">Realizar Consulta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<footer class="bg-dark text-white py-3">
    <div class="container text-center">
        <p class="mb-0">&copy; 2024 Análisis de Datos del INE. Todos los derechos reservados.</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
